<div class="container">
  <h1>Reading List</h1>
  <hr>
  Add New Book <%= link_to material_icon.create_new_folder, new_book_path %> <br>


  <% if session[:sort_mode] == "c" %>
    Sort By: <a href="/books?s=a">Author</a> | Custom
  <% else %>
    Sort By: Author | <a href="/books?s=c">Custom</a>
  <% end %>
  
  <hr>
  <% @books.each do |book| %>
    <%= render 'book_list', book: book %>
  <% end %>
</div>